body{
 font-family: 'Microsoft YaHei' ! important; 
}
.dz-top {
background: #fafafa;
height: 120px;
}
.dz-top a{
  margin-top: 20px;
  display: inline-block;
}
.dz-top button{
  margin-top: 54px;
  width: 166px;
  height: 48px;
  border: 0 none;
}
.icon-senior{
  background:url('../images/btn1.png') scroll no-repeat 0 0;
}
.icon-senior:hover{
  background: url('../images/btn1-red.png')  scroll no-repeat 0 0;
  margin-left: 20px;
}
.content {
  padding-top: 5px;
}
.content h5{
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.content h5 hr{
  border-top-color:#ccc;
}
.dz-ad img{
  width: 100%;

}
.content h5 span{
background: #fff none repeat scroll 0 0;
   color: #222;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
   top: 32px;
 }
.pro-zs li{
  float: left;
}
.pro-zs li:nth-of-type(2) a{
  margin-left: 12.5px;
}
.video-wrap{
  display: flex;
    justify-content: center;
}
.dz-choose-wrap{
  display: flex;
    justify-content: center;
    margin-top: 90px;
}
  .dz-choose-wrap ul{
    width: 65%;
  }
.dz-choose-wrap li{
  text-align: center;
}
.dz-choose-wrap hr{
  border: 0 none;
  background-color: rgb(115,115,115);
  height: 5px;
  width:350px;
}
.dz-choose-wrap hr.hover{
  background-color: rgb(228, 28, 21);
}
.btn-red{
  background: #d00;
  color:#fff;
}

.btn-msdz{
  margin-top:60px;
  margin-bottom:50px;
  width:340px;
}
.content img{
  max-width: 100%;
}
.al-wrap{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    height: 300px;
}
  .al-wrap li{
        float: left;
        width: 11%;
        margin-top:40px;
        text-align: center;
        font-size: 16px;

  }
      .al-wrap li div{
        line-height: 120px;
        margin: 0 auto;
        width: 120px;
        height: 120px;
      }
.al-wrap li .div{
  background-color: rgb(3, 6, 25);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
}
.al-wrap li .div:hover{
   background-color: rgb(224, 28, 21);
}
      .al-wrap li img{
        text-align: center;
        vertical-align: center;
        line-height: 120px;
      }
      .al-wrap li .div:hover{
        transform: rotate(360deg);
        transition: 0.5s;
      }
.pro-zs li a{

   border: 1px solid #ddd;
   box-sizing: border-box;
   display: inline-block;
   float: left;
   margin-left: 10px;
  height: 445px;
   margin-bottom: 10px;
   text-align: center;
}
.pro-zs li a:not(:first-child){
    background: #f5f5f5 none repeat scroll 0 0;
  width:335px;

}
.w595{
  width:595px!important
}
.pro-zs li a:not(:first-child) img{
display: inline-block;

}


.al-wrap>img{
  margin-top:10px;
  margin-bottom: 40px;
}
.gray{
  background-color: rgb(217, 215, 215);
  padding: 0px 15px 15px 15px;
}
.gray span{
  background-color: rgb(217, 215, 215)!important;
}